<% content_for :title do %>All tasks for lecture <%= params["lecture_id"] %><% end %>
<% content_for :description do %>Index page of all tasks for lecture <%= params["lecture_id"] %>.<% end %>

<h1>Tasks</h1>
  <% @tasks.each do |t| %>
    <%= render 'item', :locals => {:task => t} %>
  <% end %>
