<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<ul><% @task.solutions.each do |s| %>
  <li><%= link_to s.content, lecture_task_solution_path(s.task.lecture, s.task, s) %></li>
  <% end %>
</ul>
