<% s = locals[:solution] %>
  <div class="item">
    <div class="textarea"><%= s.content %></div>
    <div class="timestamps"><%= s.created_at %></div>
    <div class="timestamps"><%= s.updated_at %></div>
    <div class="actions"><%= render 'solutions/actions', :locals => {:solution => s} %></div>
  </div>