<% content_for :title do %>Solutions<% end %>
<% content_for :description do %>
  Index page of all solutions for task <%= params["task_id"] %> for lecture <%= params["lecture_id"] %>.
<% end %>

<h1>Solutions</h1>
  <% @solutions.each do |s| %>
    <%= render 'item', :locals => {:solution => s} %>
  <% end %>
