<head>
</head>
<body>
  <div class="header">
    <h1>
      404.
    </h1>
    <div class="buttons">
      Buttons!
    </div>
  </div>
  <div class="page-content">
    No such post!
  </div>
</body>
