<head>
</head>
<body>
  <div class="header">
    <h1>
      List all blog posts here.
    </h1>
    <div class="buttons">
      Buttons!
    </div>
  </div>
  <div class="page-content">
    <% if !@posts.empty? %>
    <% then %>
      <% @posts.each do |id, post| %>
        <h1><%= post.title %></h1>
        <div class="description">
          <%= post.content %>
        </div>
      <% end %>
    <% else %>
      <div class="description">
        No posts here yet!
      </div>
    <% end %>
  </div>
</body>