<head>
</head>
<body>
  <div class="header">
    <h1>
      Create a new blog post here.
    </h1>
    <div class="buttons">
      Buttons!
    </div>
  </div>
  <div class="page-content">
    Create a new post!
  <form class="input_form" method="post">
    <table class="idea-table">
      <div>Post title</div>
      <div><input type="textarea" name="title"></div>
      <div>Post content:</div>
      <div><input type="textarea" name="content"></div>
      <div><input type="submit" value="Publish post!"></div>
    </table>
  </form>
  </div>
</body>
