<head>
</head>
<body>
  <div class="header">
    <h1>
      Show a single blog post here.
    </h1>
    <div class="buttons">
      Buttons!
    </div>
  </div>
  <div class="page-content">
    Index here.
  </div>
</body>
