// global fonts
$font-stack: Helvetica, sans-serif;

// header fonts
$header-font-size: 30px;
$header-font-color: #D2D2D2;
$h2-font-size: 20px;
$header-background-color: #1F1F1F;

// body fonts
$body-font-color: #1F1F1F;
$body-font-size: 15px;
$item-background-color: #D2D2D2;