// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.column{
  display: inline-block;
  vertical-align:top;
  width: 45%;
  border: 2 px solid black;
  background-color: #CCFFCC;
}